streamlit
langchain
langchain-community
langchain-groq
langchain-openai
openai
pypdf
pdfminer.six
unstructured[pdf]
python-docx  # para leitura de .docx
python-dotenv
bs4
fake_useragent
youtube_transcript_api
playwright
tiktoken  # para usar embeddings e contagem de tokens com OpenAI
sentence-transformers
faiss-cpu
